--- 
- name: Check if the repo directory exists
  ansible.builtin.stat:
    path: "{{git_clone_path}}/.git"
  register: repo_git_dir

- name: Clone the repository if it doesn't exist
  ansible.builtin.git:
    repo: "git@github.com:jmhwang-dev/e-commerce.git"
    dest: "{{ git_clone_path }}"
    version: develop
    update: yes
    accept_hostkey: yes
  when: not repo_git_dir.stat.exists
  become: false

- name: Pull latest changes if repo already exists
  ansible.builtin.command: git pull
  args:
    chdir: "{{ git_clone_path }}"
  when: repo_git_dir.stat.exists
  become: false
