---
- name: Create dir to save envs
  become: true
  ansible.builtin.file:
    path: "{{ansible_env.HOME}}/.envs"
    state: directory
    mode: '0755'
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
  register: envs_dir

- name: "Create dir to download {{framework_name}}"
  become: true
  ansible.builtin.file:
    path: "/tmp/{{ dist_name }}"
    state: directory
    mode: '0755'
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
  register: download_dir

# HDFS-specific tasks
- name: Create namenode directory
  become: true
  ansible.builtin.file:
    path: "{{ namenode_dir }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0755'
  when: "'namenodes' in group_names"

- name: Create datanode directory
  become: true
  ansible.builtin.file:
    path: "{{ datanode_dir }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0755'
  when: "'datanodes' in group_names"
