x-minio-common: &minio-common
  image: minio/minio:RELEASE.2025-06-13T11-33-47Z

services:
  minio:
    container_name: minio
    <<: *minio-common
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./data/minio:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/ready"]
      interval: 3s
      timeout: 3s
      retries: 10
      start_period: 5s

  init-minio:
    container_name: init-minio
    <<: *minio-common
    depends_on:
      minio:
        condition: service_healthy
    volumes:
      - ./downloads/olist_redefined/:/mnt/downloads/olist_redefined/
      - ./downloads/silver_dev/:/mnt/silver_dev/
    entrypoint: >
      sh -c '
        mc alias set local http://minio:9000 minioadmin minioadmin &&
        mc mb --ignore-existing local/tmp &&
        mc mb --ignore-existing local/spark-events/logs &&
        mc mb --ignore-existing local/warehousedev/bronze &&
        mc mb --ignore-existing local/warehousedev/silver &&
        mc mb --ignore-existing local/warehousedev/gold &&
        mc mb --ignore-existing local/warehousedev/tsv_bronze &&
        mc mb --ignore-existing local/warehousedev/tsv_silver &&
        mc cp /mnt/downloads/olist_redefined/*.tsv local/warehousedev/tsv_bronze &&
        mc cp /mnt/silver_dev/*.tsv local/warehousedev/tsv_silver &&
        echo "Data to dev has loaded"
        # mc cp /mnt/downloads/olist/*.csv local/warehousedev/bronze || true &&
        # echo "init-minio ready; keeping container alive" &&
        # tail -f /dev/null
      '
  catalog-metastore:
    container_name: catalog-metastore
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes: 
      - "./data/iceberg:/var/lib/postgresql/data"
      - "./infra/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  rest-catalog:
    build:
      context: ./infra/iceberg-rest
      dockerfile: Dockerfile
    container_name: rest-catalog
    depends_on:
      catalog-metastore:
        condition: service_healthy
    ports: ["8181:8181"]

    environment:
      CATALOG_URI: jdbc:postgresql://catalog-metastore:5432/iceberg
      CATALOG_JDBC_USER: iceberg
      CATALOG_JDBC_PASSWORD: iceberg
      CATALOG_WAREHOUSE: s3://warehousedev/
      CATALOG_IO__IMPL: org.apache.iceberg.aws.s3.S3FileIO

      CATALOG_S3_ENDPOINT: http://minio:9000
      CATALOG_S3_PATH__STYLE__ACCESS: 'true'
      
      AWS_ACCESS_KEY_ID: minioadmin
      AWS_SECRET_ACCESS_KEY: minioadmin
      AWS_REGION: us-east-1