services:
  dbt:
    image: ghcr.io/dbt-labs/dbt-spark:1.9.0
    depends_on:
      - spark-client
    volumes: 
      - ./dbt:/usr/app/dbt
      - ./dbt/.dbt/profiles.yml:/root/.dbt/profiles.yml
    entrypoint: ["tail", "-f", "/dev/null"]
  
  superset-init:
    image: superset:thrift-0.7.0-psql16
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - "./superset/superset_config.py:/app/pythonpath/superset_config.py"

    environment: &superset-env
      SUPERSET_CONFIG_PATH: /app/pythonpath/superset_config.py
      DATABASE_DIALECT: postgresql+psycopg2
      DATABASE_USER: superset
      DATABASE_PASSWORD: superset
      DATABASE_HOST: postgres
      DATABASE_PORT: 5432
      DATABASE_DB: superset
      SUPERSET_SECRET_KEY: dev
      ADMIN_PASSWORD: admin  # id: admin
    command: ["/app/docker/docker-init.sh"]

  superset:
    image: superset:thrift-0.7.0-psql16
    ports:
      - "8088:8088"
    depends_on:
      superset-init:
        condition: service_completed_successfully
    volumes:
      - "./superset/superset_config.py:/app/pythonpath/superset_config.py"
      - "./superset/requirements-local.txt:/app/docker/requirements-local.txt"
    environment: *superset-env