services:
  dbt:
    image: ghcr.io/dbt-labs/dbt-spark:1.9.0
    depends_on:
      - spark-client
    volumes: 
      - ./dbt:/usr/app/dbt
      - ./dbt/.dbt/profiles.yml:/root/.dbt/profiles.yml
    entrypoint: ["tail", "-f", "/dev/null"]
  
  superset-init:
    image: superset:thrift-0.7.0-psql16
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - "./superset/superset_config.py:/app/pythonpath/superset_config.py"

    environment: &superset-env
      SUPERSET_CONFIG_PATH: /app/pythonpath/superset_config.py
      DATABASE_DIALECT: postgresql+psycopg2
      DATABASE_USER: superset
      DATABASE_PASSWORD: superset
      DATABASE_HOST: postgres
      DATABASE_PORT: 5432
      DATABASE_DB: superset
      SUPERSET_SECRET_KEY: dev
      ADMIN_PASSWORD: admin  # id: admin
    command: ["/app/docker/docker-init.sh"]

  superset:
    image: superset:thrift-0.7.0-psql16
    ports:
      - "8088:8088"
    depends_on:
      superset-init:
        condition: service_completed_successfully
    volumes:
      - "./superset/superset_config.py:/app/pythonpath/superset_config.py"
      - "./superset/requirements-local.txt:/app/docker/requirements-local.txt"
    environment: *superset-env

  schema-registry:
    image: confluentinc/cp-schema-registry:latest
    container_name: schema-registry
    # hostname: schema-registry
    depends_on:
      kafka1: { condition: service_healthy }
      kafka2: { condition: service_healthy }
      kafka3: { condition: service_healthy }
    environment:
      # Kafka 클러스터 연결
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: |
        PLAINTEXT://kafka1:9092,PLAINTEXT://kafka2:9092,PLAINTEXT://kafka3:9092
      # REST 엔드포인트 설정
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      # _schemas 토픽 복제계수 (브로커 3대)
      SCHEMA_REGISTRY_KAFKASTORE_TOPIC_REPLICATION_FACTOR: 3
      # 기본 호환성(BACKWARD 권장)
      SCHEMA_REGISTRY_COMPATIBILITY_LEVEL: BACKWARD
    healthcheck:
      test: ["CMD", "curl", "-fs", "http://schema-registry:8081/subjects"]
      interval: 30s
      timeout: 10s
      retries: 5
    ports:
      - "8082:8081"

  schema-registry-init:
    image: confluentinc/cp-schema-registry:latest
    container_name: schema-registry-init
    depends_on:
      schema-registry: { condition: service_healthy }
    command: python /mnt/register.py
    volumes:
      - ./infra/confluent/schemas/:/mnt/schemas/
      - ./infra/confluent/register.py/:/mnt/register.py

  topic-init:
    <<: *kafka-common
    container_name: topic-init
    depends_on:
      kafka1:
        condition: service_healthy
      kafka2:
        condition: service_healthy
      kafka3:
        condition: service_healthy
    restart: "no"
    volumes:
      - ./kafka/init:/mnt/init
    command: ["bash", "/mnt/init/create-topics.sh"]

  producer:
    build:
      context: ./producer
      dockerfile: Dockerfile
    command: >
      sh -c "tail -f /dev/null"
    volumes:
      - ../jobs/producer/:/app/
    depends_on:
      - kafka1
      - kafka2
      - kafka3

  consumer:
    build:
      context: ./consumer
      dockerfile: Dockerfile
    command: bash -c "tail -f /dev/null"
    volumes:
      - ../jobs/consumer/:/app/
      - ./consumer/models/:/models/
    depends_on:
      - kafka1
      - kafka2
      - kafka3
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all  # 또는 1, 2 등
              capabilities: [gpu]