x-health-kafka: &kafka-healthcheck
  test: ["CMD-SHELL",
         "/opt/kafka/bin/kafka-broker-api-versions.sh \
          --bootstrap-server localhost:9092 >/dev/null 2>&1 || exit 1"]
  interval: 10s
  timeout: 5s
  retries: 10

# - entrypoint는 root(UID 0)로 시작했다가 gosu로 appuser(UID 1000)로 권한을 내려감
# - 컨테이너를 애초에 non-root로 시작하려면
#   1) 호스트 바인드 디렉터리를 **컨테이너 UID/GID(예: 1000:1000)** 로 미리 chown
#      - host 사용자 ID와 같을 수도 있지만 ‘항상’ 같지는 않음
#   2) compose에 `user: "1000:1000"` 또는 `user: appuser` 지정
#      - userns-remap·rootless-Docker 환경이라면 매핑된 고유 UID로 맞춰야 함

x-kafka-common: &kafka-common
  image: apache/kafka:3.9.1
  user: root
  env_file:
    - ./configs/kafka/.env
  healthcheck: *kafka-healthcheck

services:
  kafka1:
    <<: *kafka-common
    ports: ["19092:19092", "19093:9093"]
    container_name: kafka1
    volumes:
      - ./configs/kafka/server1.properties:/etc/kafka/docker/server.properties:ro
      - ./data/kafka/node1:/var/lib/kafka/data

  kafka2:
    <<: *kafka-common
    ports: ["19094:19094", "19095:9093"]
    container_name: kafka2
    volumes:
      - ./configs/kafka/server2.properties:/etc/kafka/docker/server.properties:ro
      - ./data/kafka/node2:/var/lib/kafka/data

  kafka3:
    <<: *kafka-common
    ports: ["19096:19096", "19097:9093"]
    container_name: kafka3
    volumes:
      - ./configs/kafka/server3.properties:/etc/kafka/docker/server.properties:ro
      - ./data/kafka/node3:/var/lib/kafka/data