x-health-kafka: &kafka-healthcheck
  test: ["CMD-SHELL",
         "/opt/kafka/bin/kafka-broker-api-versions.sh \
          --bootstrap-server kafka1:9092 >/dev/null 2>&1 || exit 1"]
  interval: 10s
  timeout: 5s
  retries: 10

# - entrypoint는 root(UID 0)로 시작했다가 gosu로 appuser(UID 1000)로 권한을 내려감
# - 컨테이너를 애초에 non-root로 시작하려면
#   1) 호스트 바인드 디렉터리를 **컨테이너 UID/GID(예: 1000:1000)** 로 미리 chown
#      - host 사용자 ID와 같을 수도 있지만 ‘항상’ 같지는 않음
#   2) compose에 `user: "1000:1000"` 또는 `user: appuser` 지정
#      - userns-remap·rootless-Docker 환경이라면 매핑된 고유 UID로 맞춰야 함

x-kafka-common: &kafka-common
  image: apache/kafka:3.9.1
  user: root
  env_file:
    - ./configs/kafka/.env
  healthcheck: *kafka-healthcheck

x-confluent-common: &confluent-common
  image: confluentinc/cp-schema-registry:latest

services:
  kafka1:
    <<: *kafka-common
    ports: ["19092:19092", "19093:9093", "19100:9100", "19999:9999"]  # JMX 포트 매핑 추가    container_name: kafka1
    volumes:
      - ./configs/kafka/server1.properties:/etc/kafka/docker/server.properties:ro
      - ./data/kafka/node1:/var/lib/kafka/data
      - ./downloads/jmx_exporter/jmx_prometheus_javaagent-1.3.0.jar:/etc/kafka/jmx/jmx_prometheus_javaagent-1.3.0.jar:ro # JMX Exporter JAR
      - ./configs/jmx/jmx_exporter.yml:/etc/kafka/jmx/jmx_exporter.yml:ro # JMX Exporter 설정 파일

  kafka2:
    <<: *kafka-common
    ports: ["19094:19094", "19095:9093", "19101:9100", "20000:9999"]
    volumes:
      - ./configs/kafka/server2.properties:/etc/kafka/docker/server.properties:ro
      - ./data/kafka/node2:/var/lib/kafka/data
      - ./downloads/jmx_exporter/jmx_prometheus_javaagent-1.3.0.jar:/etc/kafka/jmx/jmx_prometheus_javaagent-1.3.0.jar:ro
      - ./configs/jmx/jmx_exporter.yml:/etc/kafka/jmx/jmx_exporter.yml:ro

  kafka3:
    <<: *kafka-common
    ports: ["19096:19096", "19097:9093", "19102:9100", "20001:9999"]
    volumes:
      - ./configs/kafka/server3.properties:/etc/kafka/docker/server.properties:ro
      - ./data/kafka/node3:/var/lib/kafka/data
      - ./downloads/jmx_exporter/jmx_prometheus_javaagent-1.3.0.jar:/etc/kafka/jmx/jmx_prometheus_javaagent-1.3.0.jar:ro
      - ./configs/jmx/jmx_exporter.yml:/etc/kafka/jmx/jmx_exporter.yml:ro

  schema-registry:
    <<: *confluent-common
    container_name: schema-registry
    # hostname: schema-registry
    depends_on:
      - kafka1
      - kafka2
      - kafka3
    environment:
      # Kafka 클러스터 연결
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: |
        PLAINTEXT://kafka1:9092,PLAINTEXT://kafka2:9092,PLAINTEXT://kafka3:9092
      # REST 엔드포인트 설정
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      # _schemas 토픽 복제계수 (브로커 3대)
      SCHEMA_REGISTRY_KAFKASTORE_TOPIC_REPLICATION_FACTOR: 3
      # 기본 호환성(BACKWARD 권장)
      SCHEMA_REGISTRY_COMPATIBILITY_LEVEL: BACKWARD
    healthcheck:
      test: ["CMD", "curl", "-fs", "http://schema-registry:8081/subjects"]
      interval: 30s
      timeout: 10s
      retries: 5
    ports:
      - "8082:8081"

  healthcheck-schema-registry:
    <<: *confluent-common
    container_name: healthcheck-schema-registry
    depends_on:
      schema-registry: { condition: service_healthy }

  prometheus:
    image: prom/prometheus:v3.5.0
    container_name: prometheus
    ports:
      - 9090:9090
    depends_on:
      - kafka1
      - kafka2
      - kafka3
    volumes:
      - ./configs/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana:12.2.0-17027759091
    container_name: grafana
    ports:
      - 3000:3000