---
- name: Create /etc/profile.d/add_to_path.sh from template
  become: true
  ansible.builtin.template:
    src: add_to_path.sh.j2
    dest: /etc/profile.d/add_to_path.sh
    owner: root
    group: root
    mode: '0755'

- name: Create env files from templates
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ envs_dir.path }}/{{ item.dest_name }}"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0755'
  loop:
    - { dest_name: java.sh, src: java.sh.j2 }
    - { dest_name: "{{ framework_name }}.sh", src: profile.sh.j2 }

- name: Ensure ~/.bash_profile sources {{envs_dir.path}}/*.sh scripts
  ansible.builtin.blockinfile:
    path: "{{ ansible_env.HOME }}/.bash_profile"
    create: yes
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0644'
    marker: "# {mark} ANSIBLE: load ~/.envs scripts"
    block: |
      # Source common environment modules
      for file in {{envs_dir.path}}/*.sh; do
        [ -f "$file" ] && source "$file"
      done
