services:
  fastapi-producer:
    build:
      context: ./producer
      dockerfile: Dockerfile
    container_name: fastapi-producer
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka1:9092
      KAFKA_TOPIC: test-topic
    ports:
      - "8000:8000"
    depends_on:
      kafka1:
        condition: service_healthy
    restart: unless-stopped
    volumes:
      - ./producer/app:/app
      - ./shared/sample_messages:/mnt/samples:ro

  kafka1-init:
    image: apache/kafka:3.9.1
    env_file:
      - ../configs/kafka/.env.common
    user: root
    entrypoint: [bash, /init/format.sh]
    volumes:
      - ./kafka/init:/init
      - ../data/kafka/node1:/var/lib/kafka/data

  kafka1:
    image: apache/kafka:3.9.1
    depends_on:
      - kafka1-init
    env_file:
      - ../configs/kafka/.env.common
      - ../configs/kafka/.env.node1
    volumes:
      - ../data/kafka/node1:/var/lib/kafka/data
      - ./shared/sample_messages:/mnt/samples:ro
    ports:
      - "9092:9092"
      - "9093:9093"
    healthcheck:
      test: ["CMD-SHELL", "/opt/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --list || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10

  kafka2-init:
    image: apache/kafka:3.9.1
    env_file:
      - ../configs/kafka/.env.common
    user: root
    entrypoint: [bash, /init/format.sh]
    volumes:
      - ./kafka/init:/init
      - ../data/kafka/node2:/var/lib/kafka/data

  kafka2:
    image: apache/kafka:3.9.1
    depends_on:
      - kafka2-init
    env_file:
      - ../configs/kafka/.env.common
      - ../configs/kafka/.env.node2
    volumes:
      - ../data/kafka/node2:/var/lib/kafka/data
      - ./shared/sample_messages:/mnt/samples:ro
    ports:
      - "9094:9092"
      - "9095:9093"

  kafka3-init:
    image: apache/kafka:3.9.1
    env_file:
      - ../configs/kafka/.env.common
    user: root
    entrypoint: [bash, /init/format.sh]
    volumes:
      - ./kafka/init:/init
      - ../data/kafka/node3:/var/lib/kafka/data

  kafka3:
    image: apache/kafka:3.9.1
    depends_on:
      - kafka3-init
    env_file:
      - ../configs/kafka/.env.common
      - ../configs/kafka/.env.node3
    volumes:
      - ../data/kafka/node3:/var/lib/kafka/data
      - ./shared/sample_messages:/mnt/samples:ro
    ports:
      - "9096:9092"
      - "9097:9093"