services:
  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/ready"]
      interval: 3s
      timeout: 3s
      retries: 10
      start_period: 5s

  init-minio:
    image: minio/mc:latest
    depends_on:
      minio:
        condition: service_healthy
    volumes:
      - ../data:/mnt
    entrypoint: >
      sh -c '
        mc alias set local http://minio:9000 minioadmin minioadmin &&
        mc mb local/bronze || true &&
        mc cp /mnt/bronze/*.csv local/bronze/
      '
  spark-master:
      image: ecommerce-lakehouse:sp3.5.6-ice1.9.1
      hostname: spark-master
      ports:
        - "8080:8080"
        - "7077:7077"
      command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
  spark-worker:
    image: ecommerce-lakehouse:sp3.5.6-ice1.9.1
    hostname: spark-worker
    depends_on:
      - spark-master
    ports:
      - "8081:8081"
    environment:
      SPARK_WORKER_MEMORY: 2g
      SPARK_WORKER_CORES: 2
    command: >
      bash -c "
        sleep 10 &&
        /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
      "
  spark-client:
    image: ecommerce-lakehouse:sp3.5.6-ice1.9.1
    hostname: spark-client
    depends_on:
      - spark-master
    volumes:
      - ../jobs/lakehouse:/opt/spark/work-dir
      - ./spark/conf/:/opt/spark/conf

    working_dir: /opt/spark/work-dir
    command: tail -f /dev/null
