services:
  minio:
    image: minio/minio:RELEASE.2025-06-13T11-33-47Z
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./minio/data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/ready"]
      interval: 3s
      timeout: 3s
      retries: 10
      start_period: 5s

  init-minio:
    image: minio/mc:RELEASE.2025-05-21T01-59-54Z
    depends_on:
      minio:
        condition: service_healthy
    volumes:
      - ../data:/mnt
    entrypoint: >
      sh -c '
        mc alias set local http://minio:9000 minioadmin minioadmin &&
        for b in bronze silver warehouse; do
          mc mb --ignore-existing local/$$b;
        done &&
        mc cp /mnt/bronze/*.csv local/bronze/ || true &&
        echo "init-minio ready; keeping container alive" &&
        tail -f /dev/null
      '
  spark-master:
      image: lakehouse:sp3.5.6-ice1.9.1
      hostname: spark-master
      ports:
        - "8080:8080"
        - "7077:7077"
      command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
  spark-worker:
    image: lakehouse:sp3.5.6-ice1.9.1
    hostname: spark-worker
    depends_on:
      - spark-master
    ports:
      - "8081:8081"
    environment:
      SPARK_WORKER_MEMORY: 2g
      SPARK_WORKER_CORES: 2
    command: >
      bash -c "
        sleep 10 &&
        /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
      "
  spark-client:
    image: lakehouse:sp3.5.6-ice1.9.1
    hostname: spark-client
    depends_on:
      - spark-master
    volumes:
      - ../jobs/lakehouse:/opt/spark/work-dir
      - ./spark/conf/:/opt/spark/conf

    working_dir: /opt/spark/work-dir
    command: tail -f /dev/null

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: iceberg
      POSTGRES_PASSWORD: iceberg
      POSTGRES_DB: iceberg
    volumes: ["./postgres/pgdata:/var/lib/postgresql/data"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U iceberg"]
      interval: 5s
      timeout: 5s
      retries: 5

  rest-catalog:
    image: catalog:ice1.9.1-psql16
    depends_on:
      postgres:
        condition: service_healthy
    ports: ["8181:8181"]

    environment:
      CATALOG_URI: jdbc:postgresql://postgres:5432/iceberg
      CATALOG_JDBC_USER: iceberg
      CATALOG_JDBC_PASSWORD: iceberg
      CATALOG_WAREHOUSE: s3://warehouse/
      CATALOG_IO__IMPL: org.apache.iceberg.aws.s3.S3FileIO

      CATALOG_S3_ENDPOINT: http://minio:9000
      CATALOG_S3_PATH__STYLE__ACCESS: true
      
      AWS_ACCESS_KEY_ID: minioadmin
      AWS_SECRET_ACCESS_KEY: minioadmin
      AWS_REGION: us-east-1