---
- name: "Check if {{ framework_name }} exists"
  ansible.builtin.stat:
    path: "{{ home_dir }}"
  register: home_dir_stat

- name: "Donwload files related to {{ framework_name }}"
  block:
    - name: "Download {{framework_name}}"
      ansible.builtin.get_url:
        url: "{{ base_url }}/{{framework_name}}-{{ hadoop_version }}/{{ targz_name }}"
        dest: "{{ download_dir.path }}/{{ targz_name }}"
        mode: '0644'
        timeout: 600
        force: no

    - name: Download files to verify (GPG, Checksum, KEY)
      ansible.builtin.get_url:
        url: "{{ base_url }}/{{ item.subdir }}/{{ item.src }}"
        dest: "{{ download_dir.path }}/{{ item.dest }}"
        mode: '0644'
        force: no

      loop:
        - { src: "{{ asc_name }}", dest: "{{ asc_name }}", subdir: "{{ dist_name }}" }
        - { src: "{{ sha512_name }}", dest: "{{ sha512_name }}", subdir: "{{ dist_name }}" }
        - { src: "KEYS", dest: "KEYS", subdir: "" }

  when: not home_dir_stat.stat.exists
  
- name: Set framework_file.dest
  ansible.builtin.set_fact:
    framework_file: 
      dest: "{{ download_dir.path }}/{{ targz_name }}"

- name: Set verification_files.results
  ansible.builtin.set_fact: # set_fact:
    verification_files:
      results: >-
        {{ 
          [ 
            { 'dest': download_dir.path ~ '/' ~ asc_name },
            { 'dest': download_dir.path ~ '/' ~ sha512_name },
            { 'dest': download_dir.path ~ '/KEYS' }
          ]
        }}