---
- name: Create namenode directory
  ansible.builtin.file:
    path: "{{ namenode_dir }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0755'
  when: "'namenodes' in group_names"

- name: Create datanode directory
  ansible.builtin.file:
    path: "{{ datanode_dir }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0755'
  when: "'datanodes' in group_names"
