---
- name: "Create node dirs"
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
  loop:
    - "{{ namenode_dir }}"
    - "{{ datanode_dir }}"

# - name: Create /etc/profile.d/hadoop.sh from template
#   become: true
#   template:
#     src: hadoop.sh.j2
#     dest: /etc/profile.d/hadoop.sh
#     owner: root
#     group: root
#     mode: '0644'

# - name: Ensure .bash_profile exists
#   become: false
#   copy:
#     dest: "{{ ansible_env.HOME }}/.bash_profile"
#     content: |
#       # .bash_profile
#       if [ -f ~/.bashrc ]; then
#           . ~/.bashrc
#       fi
#     force: no

# - name: Add HADOOP_CONF_DIR to .bash_profile
#   lineinfile:
#     path: "{{ ansible_env.HOME }}/.bash_profile"
#     regexp: '^export HADOOP_CONF_DIR='
#     line: "export HADOOP_CONF_DIR={{ conf_dir }}"
#     insertafter: EOF
#     state: present
#   become: false
