---
- name: "Create node dirs"
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
  loop:
    - "{{ namenode_dir }}"
    - "{{ datanode_dir }}"