x-minio-config: &minio-config
  AWS_ACCESS_KEY_ID: minioadmin
  AWS_SECRET_ACCESS_KEY: minioadmin
  AWS_ENDPOINT_URL: http://minio:9000

services:
 spark-master:
   image: ecommerce-lakehouse:sp3.5.6-ice1.9.1
   hostname: spark-master
   ports:
     - "8080:8080"
     - "7077:7077"
   environment:
     <<: *minio-config
   command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
   extra_hosts:
     - "host.docker.internal:host-gateway"
   networks:
     - spark-network

 spark-worker:
   image: ecommerce-lakehouse:sp3.5.6-ice1.9.1
   hostname: spark-worker
   depends_on:
     - spark-master
   ports:
     - "8081:8081"
   environment:
     <<: *minio-config
     SPARK_WORKER_MEMORY: 2g
     SPARK_WORKER_CORES: 2
   command: >
     bash -c "
       sleep 10 &&
       /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
     "
   extra_hosts:
     - "host.docker.internal:host-gateway"
   networks:
     - spark-network

 spark-client:
   image: ecommerce-lakehouse:sp3.5.6-ice1.9.1
   hostname: spark-client
   depends_on:
     - spark-master
   volumes:
     - ../../jobs/spark:/opt/spark/work-dir
   working_dir: /opt/spark/work-dir
   environment:
     <<: *minio-config
   command: tail -f /dev/null
   extra_hosts:
     - "host.docker.internal:host-gateway"
   networks:
     - spark-network

networks:
 spark-network: