---
- name: Fail if OS is unsupported
  fail:
    msg: "Docker is not officially supported on this Ubuntu version: {{ ansible_distribution_release }}"
  when: ansible_distribution_release not in ["focal", "jammy", "noble"]

- name: Uninstall old versions of Docker if present
  apt:
    name:
      - docker
      - docker-engine
      - docker.io
      - containerd
      - runc
    state: absent
    purge: yes
    autoremove: yes
    update_cache: yes

- name: Install required dependencies
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present
    update_cache: yes

- name: Create directory for Docker keyring
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Download Docker GPG key
  shell: |
    curl -fsSL https://download.docker.com/linux/ubuntu/gpg | \
    gpg --dearmor -o /etc/apt/keyrings/docker.gpg
  args:
    creates: /etc/apt/keyrings/docker.gpg

- name: Add Docker repository for x86_64
  when: ansible_facts['architecture'] == "x86_64"
  copy:
    dest: /etc/apt/sources.list.d/docker.list
    mode: '0644'
    content: |
      deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release | lower }} stable

- name: Add Docker repository for arm64
  when: ansible_facts['architecture'] == "aarch64"
  copy:
    dest: /etc/apt/sources.list.d/docker.list
    mode: '0644'
    content: |
      deb [arch=arm64 signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release | lower }} stable

- name: Update apt package index
  apt:
    update_cache: yes

- name: Install Docker Engine and plugins
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: latest

- name: Enable and start Docker
  systemd:
    name: docker
    enabled: yes
    state: started
