---
- name: Install kubectl
  apt:
    name:
      - kubectl
    state: latest
    update_cache: yes

- name: Clean APT cache and remove unneeded packages
  apt:
    autoclean: yes
    autoremove: yes

# sudo apt-mark hold kubectl
- name: "Hold Kubernetes components: kubectl"
  shell: apt-mark hold kubectl